@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <head>
        <title>My first Web Application</title>
</head>

<body>
    <h3>My name is VijayBhai Desai</h3>
    <form>
    <label for="num1">First number:</label>
    <input type="number" id="num1" name="num1"><br>

    <label for="num2">Second number:</label>
    <input type="number" id="num2" name="num2"><br>

    <label for="output">Output:</label>
    <output id="output" name="output"></output><br>
    

    <button type="submit">Submit</button>
</form>
    @section MyNewSection {
        <p>It's a truism to say that exercise is important to your overall health because duh. But really exercise is critical in boosting your mood, relieving stress, increasing energy, improving sleep quality and lowering your risk for diseases like diabetes, cardiovascular disease, high blood pressure and many more. </p>
    }
</body>

